<header id="header">
  <div class="logo">
    <span class="icon fa-music"></span>
  </div>
  <div class="content">
    <div class="inner">
      <h1>Yona music</h1>
      <input type="text" class="form-control mb-2" placeholder="Email" #userEmail required autofocus>
      <input type="password" class="form-control mb-2" placeholder="Password" #userPassword required>
      <br>
      <a class="button primary" (click)="authService.login(userEmail.value, userPassword.value)">Login</a>
    </div>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/artist/search">Search by artist</a></li>
      <li><a routerLink="/venue/search">Search by venue</a></li>
      <li *ngIf="!authService.isLoggedIn"><a routerLink="/login">Login</a></li>
      <li *ngIf="authService.isLoggedIn"><a routerLink="/my-events">My events</a></li>
      <li *ngIf="authService.isLoggedIn"><a (click)="authService.logout()">Logout</a></li>
    </ul>
  </nav>
</header>